{% extends 'base.html' %} 

{% block content %}
<div class=" container">
        <h3>My Profile</h3>
        <div class="row">
                <div class="col-md-12 text-center mb-5">
                        <h3>{{ user}}'s Profile</h3>
                </div>
                <div class="col-md-6">
        
                        <p> First Name: {{ user.first_name }}</p>
                        <p> Last Name : {{ user.last_name }}</p>
                        <p> User Name : {{ user }}</p>
                        <p> Email : {{ user.email }}</p>
                </div>
        </div>
</div>
{% endblock %}